# email-spam detection

In [68]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as ttsplit
from sklearn.feature_extraction.text import TfidfVectorizer
df=pd.read_csv("spam.csv",encoding='Windows-1252')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [69]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [70]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [71]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [72]:
x_messages=df['v2']

In [73]:
df.isnull()

         v1     v2
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
5567  False  False
5568  False  False
5569  False  False
5570  False  False
5571  False  False

[5572 rows x 2 columns]

In [74]:
x_emails=df['v2']
y=df['v1']

In [75]:
x_train, x_test, y_train, y_test = ttsplit(x_emails, y, test_size=0.25, shuffle=True)

In [76]:
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(x_train)
X_test = vectorizer.transform(x_test)

# classification model-SVM

In [77]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [78]:
model=SVC()
model.fit(X_train,y_train)

SVC()

In [79]:
predictions=model.predict(X_test)

# evaluating model

In [80]:
print("accuracy:",accuracy_score(y_test,predictions))

accuracy: 0.9834888729361091

In [81]:
print("\nClassification Report:")
print(classification_report(y_test, predictions))

Classification Report:
              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1218
        spam       1.00      0.87      0.93       175

    accuracy                           0.98      1393
   macro avg       0.99      0.93      0.96      1393
weighted avg       0.98      0.98      0.98      1393

In [82]:
#new predictions
new_msg = "Hey, just wanted to follow up on our conversation from yesterday. Let me know if you have any questions."

# Vectorize the new email msg
new_email = vectorizer.transform([new_msg])

# Predictions for new msg
predict1 = model.predict(new_email)

print("Predicted Label:", predict1[0])

Predicted Label: ham